pap-error-form-handler {
  ion-list {
    margin-top: -10px !important;
  }
  ion-label {
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    background-color: var(--ion-color-light);
  }
}
