<ng-container *ngIf="settingsView$|async as settingsView">
  <ion-header><pap-header></pap-header></ion-header>

  <ion-content padding class="pap-settings">
    <ion-card class="main-card">
      <ion-segment value="{{initStep}}">
        <ion-segment-button value="firstStep" (click)="currentStep$.next('firstStep')">
          <ion-label>Generali</ion-label>
        </ion-segment-button>
        <ion-segment-button value="secondStep" (click)="currentStep$.next('secondStep')">
          <ion-label>Password</ion-label>
        </ion-segment-button>
        <ion-segment-button value="thirdStep" (click)="currentStep$.next('thirdStep')">
          <ion-label>Indirizzi</ion-label>
        </ion-segment-button>
      </ion-segment>

      <form [formGroup]="(settingsForm)!">
        <ion-list>
          <ng-container [ngSwitch]="currentStep$|async">
            <pap-first-step-signup-form
              *ngSwitchCase="'firstStep'"
              [buttons]="false"
              [disable]="['email']"
            ></pap-first-step-signup-form>
            <pap-second-step-signup-form
              *ngSwitchCase="'secondStep'"
              [buttons]="false"
            ></pap-second-step-signup-form>
            <pap-third-step-form
              *ngSwitchCase="'thirdStep'"
              [buttons]="false"
            ></pap-third-step-form>
          </ng-container>
        </ion-list>
      </form>
    </ion-card>
    <ion-grid class="footer">
      <ion-row>
        <ion-col class="ion-align-self-start">
          <ion-button fill="outline" shape="round" expand="full" (click)="logout()">
            Log out
          </ion-button>
        </ion-col>
        <ion-col class="ion-align-self-end" *ngIf="(currentStep$|async) as currentStep">
          <ion-button
            fill="solid"
            shape="round"
            expand="full"
            *ngIf="currentStep !== 'thirdStep'"
            [disabled]="isDisabled()"
            (click)="update()"
          >
            Salva
          </ion-button>
          <ion-button
            (click)="openModalLocation()"
            expand="block"
            shape="round"
            *ngIf="currentStep === 'thirdStep'"
            >Aggiungi indirizzo</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row *ngIf="(currentStep$|async) === 'firstStep'">
        <ion-col class="ion-align-self-start"> </ion-col>
        <ion-col class="ion-align-self-center" size="8">
          <ion-button fill="outline" shape="round" expand="full" (click)="delete()">
            elimina account
          </ion-button>
        </ion-col>
        <ion-col class="ion-align-self-end"> </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-list>
    <ion-item *ngIf="error$|async as error">
      <ion-label color="danger">{{error}}</ion-label>
    </ion-item>
  </ion-list>
</ng-container>
<ion-footer collapse="fade">
  <pap-footer></pap-footer>
</ion-footer>
