pap-settings {
  height: 100vh;

  .pap-settings {
    --padding-bottom: 80px;
    &-editicon {
      font-size: 1.5rem;
      padding: 5px;
    }
    &-version {
      font-size: 0.9rem;
      padding: 15px;
    }
  }
  pap-third-step-signup-form,
  pap-map,
  pap-form-location {
    width: 100%;
  }

  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  ion-button {
    width: auto;
    height: 36px;
  }
  .main-card {
    display: flow-root;
    height: calc(100% - 80px) !important;
    overflow: unset !important;
    > form {
      height: calc(100% - 35px) !important;
      ion-list {
        height: inherit;
        overflow: auto;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
  pap-form-location {
    .pap-form-location-infocontainer {
      ion-button {
        margin-top: -15px;
      }
    }
  }
  .pap-first-step-signup-form-address-container,
  .scrollable {
    padding-bottom: 42px;
  }
  // ion-list {
  //   background-color: var(--ion-color-light) !important;
  // }
}
