pap-settings {
  .pap-settings {
    --padding-bottom: 80px;
    &-editicon {
      font-size: 1.5rem;
      padding: 5px;
    }
    &-version {
      font-size: 0.9rem;
      padding: 15px;
    }
  }
  pap-third-step-signup-form,
  pap-map,
  pap-form-location {
    width: 100%;
  }

  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  ion-button {
    width: auto;
    height: 36px;
  }
  ion-segment {
    height: 70px;
  }
  ion-card {
    display: flow-root;
    max-height: 88% !important;
    overflow: unset !important;
  }
  pap-form-location {
    .pap-form-location-infocontainer {
      ion-button {
        margin-top: -15px;
      }
    }
  }
}
