<ng-container *ngIf="settingsView$|async as settingsView">
  <ion-header><pap-header></pap-header></ion-header>

  <ion-content padding class="pap-settings">
    <ion-segment [(ngModel)]="currentStep">
      <ion-segment-button value="firstStep" (click)="step$.next(0)">
        <ion-label>Generali</ion-label>
      </ion-segment-button>
      <ion-segment-button value="secondStep" (click)="step$.next(1)">
        <ion-label>Password</ion-label>
      </ion-segment-button>
      <ion-segment-button value="thirdStep" (click)="step$.next(2)">
        <ion-label>Posizione</ion-label>
      </ion-segment-button>
    </ion-segment>

    <form [formGroup]="(settingsForm)!">
      <ion-list>
        <ng-container [ngSwitch]="step$|async">
          <pap-first-step-signup-form
            *ngSwitchCase="0"
            [buttons]="false"
            [disable]="['email']"
          ></pap-first-step-signup-form>
          <pap-second-step-signup-form
            *ngSwitchCase="1"
            [buttons]="false"
          ></pap-second-step-signup-form>
          <pap-third-step-signup-form
            *ngSwitchCase="2"
            [buttons]="false"
          ></pap-third-step-signup-form>
        </ng-container>
      </ion-list>
      <ion-grid class="footer">
        <ion-row *ngIf="currentStep === 'firstStep'">
          <ion-col class="ion-align-self-start"> </ion-col>
          <ion-col class="ion-align-self-center" size="8">
            <ion-button expand="full" color="danger" (click)="delete()">
              elimina account
            </ion-button>
          </ion-col>
          <ion-col class="ion-align-self-end"> </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-align-self-start"> </ion-col>
          <ion-col class="ion-align-self-center" size="8">
            <ion-button expand="full" [disabled]="isDisabled()" (click)="update()">
              <ion-icon color="light" name="save"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="ion-align-self-end"> </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
  <ion-list>
    <ion-item *ngIf="error$|async as error">
      <ion-label color="danger">{{error}}</ion-label>
    </ion-item>
  </ion-list>
</ng-container>
<ion-footer collapse="fade">
  <pap-footer></pap-footer>
</ion-footer>
