<ion-header>
  <pap-header></pap-header>
</ion-header>
<ng-container *ngIf="trashBookDetailsView$|async as view">
  <ion-content padding class="trash-book-details ion-padding">
    <ion-card class="pap-card">
      <h1 class="trash-book-details-title">
        {{ view.name }}
      </h1>

      <ion-item class="trash-book-details-type" lines="full" *ngIf="view.trashBookType?.name">
        <ion-label class="trash-book-details-label" slot="start">Che rifiuto è:</ion-label>
        <ion-icon
          class="trash-book-details-icon-color"
          slot="start"
          [ngStyle]="{color:view.trashBookType?.color}"
          name="ellipse"
          (click)="info(view.trashBookType)"
        >
        </ion-icon>
        <ion-label
          class="trash-book-details-value ion-text-wrap"
          slot="start"
          (click)="info(view.trashBookType)"
        >
          {{view.trashBookType?.name}}
        </ion-label>
        <ion-icon
          size="large"
          class="trash-book-details-icon"
          slot="end"
          name="information-circle"
          (click)="info(view.trashBookType)"
        ></ion-icon>
      </ion-item>

      <ion-item class="trash-book-details-calendar" lines="full">
        <ion-label class="trash-book-details-label" slot="start">PAP</ion-label>
        <ion-button
          shape="round"
          fill="outline"
          class="trash-book-details-button"
          slot="end"
          *ngIf="view.pap;else noPap"
          (click)="openCalendar()"
        >
          calendario
        </ion-button>

        <ng-template #noPap>
          <ion-label class="trash-book-details-value  ion-text-wrap" slot="end">
            non pianificato
          </ion-label>
        </ng-template>
      </ion-item>

      <ion-item
        class="trash-book-details-collection-center"
        lines="full"
        *ngIf="view.collection_center"
      >
        <ion-label class="trash-book-details-label" slot="start">Centro di raccolta</ion-label>
        <ion-button
          shape="round"
          fill="outline"
          class="trash-book-details-button"
          slot="end"
          (click)="openWasteCenterCollection()"
        >
          Vedi
        </ion-button>
      </ion-item>

      <ion-item class="trash-book-details-delivery" lines="full" *ngIf="view.delivery">
        <ion-label class="trash-book-details-label" slot="start">Ritiro ingombranti</ion-label>
        <ion-button
          shape="round"
          fill="outline"
          class="trash-book-details-button"
          slot="end"
          (click)="book(view.trashBookType)"
        >
          Prenota
        </ion-button>
      </ion-item>

      <ion-item class="trash-book-details-where" lines="full" *ngIf="view.where">
        <ion-label class="trash-book-details-label" slot="start">Dove lo getto</ion-label>
        <ion-label class="trash-book-details-value  ion-text-wrap" slot="end">
          {{view.where}}
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-content>
</ng-container>
<ion-footer collapse="fade">
  <pap-footer></pap-footer>
</ion-footer>
