<ion-header>
  <pap-header></pap-header>
</ion-header>
<ng-container *ngIf="trashBookDetailsView$|async as view">
  <ion-content
    padding
    class="trash-book-details ion-padding">
    <ion-card class="pap-card">
      <h1 class="trash-book-details-title">{{ view.name }}</h1>

      <ion-item
        *ngIf="view.trashBookType?.name"
        class="trash-book-details-type ion-text-wrap"
        lines="full"
        (click)="info(view.trashBookType)">
        <ion-badge
          [style.background-color]="view.trashBookType?.color"
          slot="start"
          class="ion-text-wrap"
          >{{view.trashBookType?.name}}</ion-badge
        >

        <ion-icon
          [style.--color]="view.trashBookType?.color"
          size="large"
          class="trash-book-details-icon"
          name="information-circle"
          slot="end"></ion-icon>
      </ion-item>

      <ion-item
        class="trash-book-details-calendar ion-text-wrap"
        lines="full">
        <ion-label
          class="trash-book-details-label ion-text-wrap"
          slot="start"
          >{{'PAP'|translate}}</ion-label
        >
        <ion-button
          shape="round"
          class="trash-book-details-button"
          slot="end"
          *ngIf="view.pap;else noPap"
          (click)="openCalendar()"
          >calendario</ion-button
        >

        <ng-template #noPap>
          <ion-label
            class="trash-book-details-value ion-text-wrap"
            slot="end"
            >{{'non pianificato'|translate}}</ion-label
          >
        </ng-template>
      </ion-item>

      <ion-item
        class="trash-book-details-collection-center"
        lines="full"
        *ngIf="view.collection_center">
        <ion-label
          class="trash-book-details-label"
          slot="start"
          >{{'Centro di Raccolta'|translate}}</ion-label
        >
        <ion-button
          shape="round"
          class="trash-book-details-button"
          slot="end"
          (click)="openWasteCenterCollection()"
          >{{'Vedi'|translate}}</ion-button
        >
      </ion-item>

      <ion-item
        class="trash-book-details-where"
        lines="full"
        *ngIf="view.where">
        <ion-label
          class="trash-book-details-label"
          slot="start"
          >{{'Dove lo getto'|translate}}</ion-label
        >
        <ion-label
          class="trash-book-details-value  ion-text-wrap"
          slot="end"
          >{{view.where}}</ion-label
        >
      </ion-item>

      <ion-item
        class="trash-book-details-delivery"
        lines="full"
        *ngIf="view.delivery">
        <ion-label
          class="trash-book-details-label"
          slot="start"
          >{{'Ritiro ingombranti'|translate}}</ion-label
        >
        <ion-button
          shape="round"
          class="trash-book-details-button"
          slot="end"
          (click)="book(view.trashBookType)"
          >{{'Prenota'|translate}}</ion-button
        >
      </ion-item>
    </ion-card>
  </ion-content>
</ng-container>
<ion-footer collapse="fade">
  <pap-footer></pap-footer>
</ion-footer>
