pap-trash-book-details {
    .trash-book-details {
        &-title {
            text-align: center;
        }
        &-icon {
            font-size: 24px;
        }
        &-value {
            text-align: right;
            font-size: 0.9rem;
        }

        ion-label.trash-book-details-value {
            text-align: right;
            font-size: 0.9rem;
        }
    }
}
