<ng-container *ngIf="headerView$|async as view">
    <ion-header>
        <ion-toolbar class="pap-header">
            <ion-buttons slot="start">
                <ion-back-button *ngIf="view.showBack"></ion-back-button>
                <ion-button *ngIf="view.buttonStart" class="{{view.buttonStart.class}}  pap-header-button"
                    (click)="action(view.buttonStart.action,view.buttonStart.url)">
                    <ion-icon slot="icon-only" [name]="view.buttonStart.icon"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title class="pap-header-title">
                <span *ngIf="view.label">{{view.label}}</span>
                <img *ngIf="view.img" class="pap-header-img" src="{{view.img}}" />
            </ion-title>
            <ion-buttons slot="end">
                <ion-button *ngIf="view.buttonEnd" class="{{view.buttonEnd.class}} pap-header-button"
                    (click)="action(view.buttonEnd.action,view.buttonEnd.url)">
                    <ion-icon slot="icon-only" [name]="view.buttonEnd.icon"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
</ng-container>