<ng-container *ngIf="calendarView$|async as calendarView">
  <ion-header class="pap-calendar-header">
    <pap-header></pap-header>
    <ion-item lines="none">
      <ion-grid>
        <ion-row
          *ngIf="currentAddress$|async as addressView"
          class="ion-align-items-center ion-justify-content-center">
          <ion-col
            size="auto"
            class="ion-text-center">
            <h1 class="pap-calendar-title">{{'Calendario'|translate}}</h1>
          </ion-col>
          <ion-col
            size="auto"
            class="ion-text-center">
            <ion-badge
              *ngIf="addressView.address.user_type.label.it"
              >{{addressView.address.user_type.label.it|translate}}</ion-badge
            >
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12">
            <ion-button
              shape="round"
              class="ion-text-wrap pap-calendar-address-button"
              (click)="presentPopover($event)">
              <ion-grid>
                <ion-row>
                  <ion-col size="11">
                    <ion-label
                      *ngIf="currentAddress$|async as addressView"
                      class="pap-calendar-current-zone-label ion-text-wrap"
                      >{{addressView.address.zone.label}}</ion-label
                    ><br />
                    <ion-label
                      *ngIf="currentAddress$?.value?.address?.address"
                      class="pap-calendar-address-button-label ion-text-wrap">
                      {{ currentAddress$.value?.address?.address}}
                    </ion-label>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon
                      style="zoom:2.0;height: 38px;"
                      color="white"
                      name="chevron-down-outline"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-button>
          </ion-col>
          <ion-col
            size="12"
            class="ion-text-center">
            <ion-popover
              #popover
              alignment="center"
              [isOpen]="isOpen"
              (didDismiss)="isOpen = false">
              <ng-template>
                <ion-list>
                  <ion-item
                    *ngFor="let calendar of calendarView.calendars; let idx = index"
                    (click)="selectPopoverAddress(idx)">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="12">
                          <ion-badge
                            *ngIf="calendar.address.user_type.label.it"
                            >{{calendar.address.user_type.label.it|translate}}</ion-badge
                          >
                        </ion-col>
                        <ion-col size="12">
                          <ion-label class="ion-text-wrap">
                            {{ calendar.address.address }}
                          </ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-list>
              </ng-template>
            </ion-popover>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-header>
  <ion-content scroll-y="false">
    <ion-card>
      <ion-list lines="full">
        <ng-container *ngIf="currentAddress$|async as currentAddress">
          <ion-item
            *ngFor="let item of currentAddress.calendar| keyvalue"
            class="pap-calendar-item">
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <pap-date [dateKey]="item.key"></pap-date>
                </ion-col>
                <ion-col size="8">
                  <div class="pap-calendar-weekday">{{item.key|papDate: 'EEEE' }}</div>
                  <div
                    div
                    *ngFor="let trash of item.value"
                    class="pap-calendar-event">
                    <div class="pap-calendar-time">
                      Dalle {{trash.start_time}} alle {{trash.stop_time}}
                    </div>
                    <div>
                      <ion-button
                        *ngFor="let trashType of trash.trash_types"
                        shape="round"
                        size="small"
                        [style.--background]="trashType?.color"
                        (click)="info(trashType)"
                        class="pap-calendar-trashlist">
                        <ion-label
                          class="pap-trashlist-details-label"
                          *ngIf="trashType.name">
                          {{trashType.name|papLang}}
                        </ion-label>
                      </ion-button>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-card>
  </ion-content>
  <ion-grid class="pap-calendar-infobutton-container">
    <ion-row class="ion-padding ion-align-items-center ion-justify-content-center">
      <ion-col
        size="12"
        class="ion-text-center">
        <ion-button
          class="ion-text-wrap pap-calendar-infobutton"
          expand="block"
          fill="outline"
          shape="round"
          (click)="openLink()"
          >{{'Altre informazioni'|translate}}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-footer collapse="fade">
    <pap-footer></pap-footer>
  </ion-footer>
</ng-container>
