<ng-container *ngIf="calendarView$|async as calendarView">
  <ion-header class="pap-calendar-header">
    <pap-header></pap-header>
    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12" class="ion-text-center">
            <h1 class="pap-calendar-title">Calendario</h1>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12" class="ion-text-center">
            <ion-select
              placeholder="Select address"
              (ionChange)="selectAddress($event)"
              [value]="0"
            >
              <ion-select-option
                [value]="idx"
                *ngFor="let calendar of calendarView.calendars;let idx= index"
                >{{calendar.address.address}}</ion-select-option
              >
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row
          *ngIf="currentAddress$|async as addressView"
          class="ion-align-items-center ion-justify-content-center"
        >
          <ion-col size="6" class="ion-text-center">
            <ion-label
              class="pap-calendar-current-zone-label"
              >{{addressView?.address?.zone?.label}}</ion-label
            >
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <ion-label
              class="pap-calendar-current-zone-label"
              >{{addressView?.address?.user_type?.label?.it}}</ion-label
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-header>
  <ion-content padding class="pap-calendar">
    <ion-card>
      <ion-list lines="full">
        <ng-container *ngIf="currentAddress$|async as currentAddress">
          <ion-item
            *ngFor="let item of currentAddress.calendar| keyvalue"
            class="pap-calendar-item"
          >
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-label class="pap-calendar-date">
                    <div class="pap-calendar-day">{{item.key|papDate: 'd' }}</div>
                    <div class="pap-calendar-month">{{item.key|papDate: 'MMMM' }}</div>
                  </ion-label>
                </ion-col>
                <ion-col size="8">
                  <div class="pap-calendar-weekday">{{item.key|papDate: 'EEEE' }}</div>
                  <div div *ngFor="let trash of item.value" class="pap-calendar-event">
                    <div class="pap-calendar-time">
                      Dalle {{trash.start_time}} alle {{trash.stop_time}}
                    </div>
                    <div>
                      <ion-button
                        shape="round"
                        fill="outline"
                        size="small"
                        *ngFor="let trashType of trash.trash_types"
                        (click)="info(trashType)"
                        class="pap-calendar-trashlist"
                      >
                        <ion-icon
                          class="trash-book-details-icon"
                          size="medium"
                          slot="start"
                          [ngStyle]="{color:trashType?.color}"
                          name="ellipse"
                        ></ion-icon>
                        <ion-label class="pap-trashlist-details-label" *ngIf="trashType.name">
                          {{trashType.name|papLang}}
                        </ion-label>
                      </ion-button>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-card>
    <div class="pap-calendar-info-footer-content">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12" class="ion-text-center">
            <ion-label class="ion-text-wrap pap-calendar-info">
              Per tutte le informazioni non presenti nel calendario fare riferimento al sito di Esa,
              clicca sul bottone "Vedi"
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="12" class="ion-text-center">
            <div class="pap-calendar-infobuttoncontainer">
              <ion-button
                class="pap-calendar-infobutton"
                fill="outline"
                shape="round"
                (click)="openLink()"
                >Vedi</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
  <ion-footer collapse="fade">
    <pap-footer></pap-footer>
  </ion-footer>
</ng-container>
