<ng-container *ngIf="calendarView$|async as calendarView">
  <ion-header>
    <pap-header></pap-header>
  </ion-header>
  <ion-content padding class="pap-calendar">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Calendario</ion-card-title>
        <ion-label class="ion-text-wrap pap-calendar-info"
          >Per tutte le informazioni non presenti nel calendario sottostante fare riferimento al
          sito di Esa, clicca sul bottone "Vedi"</ion-label
        >
        <div class="pap-calendar-infobuttoncontainer">
          <ion-button
            class="pap-calendar-infobutton"
            fill="outline"
            shape="round"
            (click)="openLink()"
            >Vedi</ion-button
          >
        </div>

        <ion-item lines="none">
          <ion-select placeholder="Select address" (ionChange)="selectAddress($event)" [value]="0">
            <ion-select-option
              [value]="idx"
              *ngFor="let calendar of calendarView.calendars;let idx= index"
              >{{calendar.address.address}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-card-header>

      <ion-list lines="full">
        <ng-container *ngIf="currentAddress$|async as currentAddress">
          <ion-item
            *ngFor="let item of currentAddress.calendar| keyvalue"
            class="pap-calendar-item"
          >
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-label class="pap-calendar-date">
                    <div class="pap-calendar-day">{{item.key|papDate: 'd' }}</div>
                    <div class="pap-calendar-month">{{item.key|papDate: 'MMMM' }}</div>
                  </ion-label>
                </ion-col>
                <ion-col size="8">
                  <div class="pap-calendar-weekday">{{item.key|papDate: 'EEEE' }}</div>
                  <div div *ngFor="let trash of item.value" class="pap-calendar-event">
                    <div class="pap-calendar-time">
                      Dalle {{trash.start_time}} alle {{trash.stop_time}}
                    </div>
                    <div>
                      <ion-button
                        shape="round"
                        fill="outline"
                        size="small"
                        *ngFor="let trashType of trash.trash_types"
                        (click)="info(trashType)"
                        class="pap-calendar-trashlist"
                      >
                        <ion-icon
                          class="trash-book-details-icon"
                          size="medium"
                          slot="start"
                          [ngStyle]="{color:trashType?.color}"
                          name="ellipse"
                        ></ion-icon>
                        <ion-label class="pap-trashlist-details-label" *ngIf="trashType.name">
                          {{trashType.name|papLang}}
                        </ion-label>
                      </ion-button>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-card>
  </ion-content>
  <ion-footer collapse="fade">
    <pap-footer></pap-footer>
  </ion-footer>
</ng-container>
