pap-calendar-page {
  ion-header {
    ion-row {
      margin: -15px 0px -10px 0px;
    }
  }
  ion-badge {
    margin-top: 13px;
    font-size: 20px;
  }
  ion-content {
    overflow: unset !important;
  }
  ion-list {
    overflow: auto;
    overflow-x: hidden !important;
    max-height: 99%;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  ion-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    padding: 5px;
  }
  ion-card {
    display: flow;
    height: calc(100% - 55px);
  }
  ion-label {
    max-width: 100%;
    white-space: normal !important;
    overflow-wrap: break-word !important;
    color: var(--ion-color-light-contrast);
  }
  ion-content {
    main.scroll-y {
      overflow: unset !important;
    }
  }
  .pap-calendar-title {
    margin: 5px 0px 0px 0px;
  }
  .pap-calendar-weekday {
    font-size: 16px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    color: var(--ion-color-primary);
  }
  .pap-calendar-time {
    color: var(--ion-color-medium);
  }
  .pap-calendar-day {
    font-size: 50px;
    color: var(--ion-color-primary);
  }
  .pap-calendar-month {
    font-size: 20px;
    color: var(--ion-color-primary);
  }
  .pap-calendar-current-zone-label {
    font-style: italic;
    margin-top: 10px;
  }
  .pap-calendar-address-button {
    width: 100%;
    height: 100%;
    text-transform: capitalize;
  }
  .pap-calendar-address-button-label {
    font-size: 20px !important;
    padding: 5px;
  }
  .pap-calendar-infobutton {
    width: 100%;
  }
  .pap-calendar-infobutton-container {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 40px;
  }
}
