pap-form-calendar-select {
  .selected {
    --ion-item-background: rgba(97, 94, 93, 0.2);
  }
  pap-calendar {
    display: block;
    ion-card {
      margin: 0 !important;
      display: contents;
    }
  }
  ion-badge {
    margin-top: 13px;
    font-size: 20px;
  }
  .pap-calendar-day {
    font-size: 50px;
    color: var(--ion-color-primary);
  }
  .pap-calendar-month {
    font-size: 20px;
    color: var(--ion-color-primary);
  }
}
