pap-address-selector {
  height: fit-content;
  .pap-calendar-current-zone-label {
    font-style: italic;
    text-transform: none;
    margin-top: 10px;
  }
  .pap-address-selector-btn {
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    --color: var(--ion-color-primary);
    --background: var(--ion-color-primary-contrast);
  }
  .pap-calendar-address-button-label {
    font-size: 17px !important;
  }
  .centered-content {
    display: flex;
    align-items: center;
    .pap-address-selector-icn-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .pap-address-selector-icn {
        zoom: 2;
      }
    }
  }
}
