<pap-map
  class="pap-form-location-map"
  (genericClickEvt)="mapClick($event)"
  [positionMarker]="myPosition"
  [center]="myPosition"
></pap-map>

<div class="pap-form-location-infocontainer">
  <ion-button expand="block" (click)="getLocation()">
    <ion-icon slot="start" name="pin"></ion-icon>
    {{ 'La mia posizione' | translate }}
  </ion-button>
  <ng-container *ngIf="currentAddress$|async as currentAddress; else skeleton">
    <h2 class="pap-form-location-title">{{ 'indirizzo'| translate }}:</h2>
    <br />
    <span>{{currentAddress}}</span>
  </ng-container>
  <ng-template #skeleton>
    <ion-skeleton-text animated></ion-skeleton-text>
  </ng-template>
</div>
