<ng-container *ngIf="firstStep!=null">
  <form [formGroup]="firstStep">
    <ion-list lines="inset">
      <ng-container *ngIf="formJson$ | async as formJson">
        <ng-container *ngFor="let formField of formJson">
          <!-- Controllo se il tipo è 'group' -->
          <ng-container *ngIf="formField.type !== 'group'">
            <ion-item>
              <ion-label position="stacked">
                {{ formField.label }}
                <span *ngIf="isRequired(formField)"> * </span>
              </ion-label>
              <ion-input
                [type]="formField.type"
                [formControlName]="formField.id"
                [placeholder]="formField.placeholder"
                [disabled]="disable.indexOf(formField.id)> -1">
              </ion-input>
            </ion-item>
            <ion-item *ngIf="firstStep.get(formField.id) != null && !firstStep.get(formField.id)!.valid">
              <pap-error-form-handler [errors]="firstStep.get(formField.id)!.errors"></pap-error-form-handler>
            </ion-item>
          </ng-container>
        </ng-container>
      </ng-container>
    </ion-list>

    <ion-grid *ngIf="buttons">
      <ion-row>
        <ion-col
          size="12"
          size-sm>
          <ion-button
            shape="round"
            [disabled]="firstStep.invalid"
            (click)="next.emit()"
            expand="full"
            class="ion-float-right">
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ng-container>
