<form [formGroup]="firstStep">
  <ion-item>
    <ion-label position="stacked" position="fixed">Nome</ion-label>
    <ion-input formControlName="name" required placeholder="Inserire il nome"> </ion-input>
  </ion-item>
  <ion-item *ngIf="firstStep.controls['name'].errors as errors">
    <pap-error-form-handler [errors]="errors"></pap-error-form-handler>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" position="fixed">Email</ion-label>
    <ion-input
      formControlName="email"
      required
      placeholder="Inserire la email"
      [disabled]="disable.indexOf('email')> -1"
    >
    </ion-input>
  </ion-item>
  <ion-item *ngIf="firstStep.controls['email'].errors as errors">
    <pap-error-form-handler [errors]="errors"></pap-error-form-handler>
  </ion-item>

  <ion-grid *ngIf="buttons">
    <ion-row>
      <ion-col size="8"> </ion-col>
      <ion-col>
        <ion-button [disabled]="firstStep.invalid" (click)="next.emit()" expand="full">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
