pap-form-recap {
  padding-top: 10px;
  display: block;
  margin-top: 15px;
  .pap-form-recap-title {
    margin-top: -47px;
    color: var(--ion-color-light-contrast);
    font-weight: 500;
    font-size: 26px;
  }
  .pap-form-recap-label {
    font-weight: bold;
    color: var(--ion-color-primary) !important;
  }
  .pap-form-recap-note {
    font-weight: 400;
  }
  img {
    width: 300px;
    height: 200px;
    object-fit: contain;
  }
}
