<h1 class="pap-form-recap-title">
  {{'Riepilogo'|translate}}
</h1>
<ul>
  <ng-container *ngFor="let item of steps$|async">
    <li *ngIf="form.controls[item.type].value != null && form.controls[item.type].value != ''">
      <span class="pap-form-recap-label">
        {{(item.recap||'') | translate}}
      </span>
      <ul>
        <li class="pap-form-recap-note-internal">
          <ng-container [ngSwitch]="item.type">
            <ion-note class="pap-form-recap-note" *ngSwitchCase="'text'">
              {{form.controls[item.type].value}}
            </ion-note>
            <ion-note class="pap-form-recap-note" *ngSwitchCase="'trash_type_id'">
              {{(currentTrashBookType$|async)?.name}}
            </ion-note>
            <ion-note class="pap-form-recap-note" *ngSwitchCase="'location'">
              {{currentAddress$|async}}
            </ion-note>
            <ion-note class="pap-form-recap-note" *ngSwitchCase="'phone'">
              {{form.controls[item.type].value}}
            </ion-note>
            <ion-note class="pap-form-recap-note" *ngSwitchCase="'note'">
              {{form.controls[item.type].value}}
            </ion-note>
            <ng-container *ngSwitchCase="'calendar_trash_type_id'">
              <ng-container *ngIf="form.controls[item.type].value as value">
                <ion-note class="pap-form-recap-note" *ngIf="value.trashDate  as trashDate">
                  data: {{trashDate|date}}
                </ion-note>
                <ion-note class="pap-form-recap-note" *ngIf="value.tbType  as tbType">
                  tipo di rifiuto: {{tbType.name.it}}
                </ion-note>
                <ion-note class="pap-form-recap-note" *ngIf="value.calendar  as calendar">
                  indirizzo: {{calendar.address.address}}
                </ion-note>
              </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'image'">
              <img [src]="form.controls[item.type].value" />
            </ng-container>
            <ion-note class="pap-form-recap-note" *ngSwitchDefault class="pap-form-recap-note">
              {{'messages.notInserted' | translate}}
            </ion-note>
          </ng-container>
        </li>
      </ul>
    </li>
  </ng-container>
</ul>
