<h1 class="pap-form-recap-title">
  {{ 'Riepilogo' | translate }}
</h1>
<ion-grid class="pap-form-recap-list">
  <ng-container *ngFor="let item of steps$ | async">
    <ng-container *ngIf="form.controls[item.type]!= null">
      <ng-container *ngIf="form.controls[item.type].value as value">
        <ng-container [ngSwitch]="item.type">
          <ng-container *ngSwitchCase="'calendar_trash_type_id'">
            <pap-form-recap-row *ngIf="value.tbType as tbType">
              <ion-label
                firstCol
                class="pap-form-recap-label ion-text-wrap"
                >{{'Tipo di rifiuto'|translate}}:</ion-label
              >
              <ion-badge
                secondCol
                class="ion-text-wrap"
                [style.background-color]="value.tbType.color"
                >{{ tbType.name.it }}</ion-badge
              >
            </pap-form-recap-row>
            <pap-form-recap-row *ngIf="value.trashDate as trashDate">
              <ion-label
                firstCol
                class="pap-form-recap-label ion-text-wrap"
                >{{'Data'|translate}}:</ion-label
              >
              <ion-label
                secondCol
                class="ion-text-wrap"
                >{{ trashDate | date }}</ion-label
              >
            </pap-form-recap-row>
            <pap-form-recap-row *ngIf="value.calendar as calendar">
              <ion-label
                firstCol
                class="pap-form-recap-label ion-text-wrap"
                >{{'Indirizzo'|translate}}:</ion-label
              >
              <ion-label
                secondCol
                class="ion-text-wrap"
                >{{ calendar.address.address }}</ion-label
              >
            </pap-form-recap-row>
          </ng-container>
          <ng-container *ngSwitchCase="'trash_type_id'">
            <pap-form-recap-row>
              <ion-label
                firstCol
                class="pap-form-recap-label ion-text-wrap"
                >{{(item.recap || '')|translate}}:</ion-label
              >
              <ion-badge
                secondCol
                [style.background-color]="(currentTrashBookType$ | async)?.color"
                >{{ (currentTrashBookType$ | async)?.name}}</ion-badge
              >
            </pap-form-recap-row>
          </ng-container>
          <ng-container *ngSwitchCase="'location'">
            <pap-form-recap-row>
              <ion-label
                firstCol
                class="pap-form-recap-label ion-text-wrap"
                >{{(item.recap || '')|translate}}:</ion-label
              >

              <ion-label
                secondCol
                *ngIf="form.controls['city'].value as city"
                >{{ city }}</ion-label
              >
              <ion-label
                secondCol
                *ngIf="form.controls['address'].value as address"
                >{{ address }}</ion-label
              >
              <ion-label
                secondCol
                *ngIf="form.controls['house_number'].value as house_number"
                >{{ house_number }}</ion-label
              >
            </pap-form-recap-row>
          </ng-container>
          <ng-container *ngSwitchCase="'image'">
            <pap-form-recap-row>
              <ion-label
                firstCol
                class="pap-form-recap-label ion-text-wrap"
                >{{(item.recap || '')|translate}}:</ion-label
              >
              <img
                secondCol
                [src]="form.controls[item.type].value" />
            </pap-form-recap-row>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <pap-form-recap-row>
              <ion-label
                firstCol
                class="pap-form-recap-label ion-text-wrap"
                >{{(item.recap || '')|translate}}:</ion-label
              >
              <ion-label secondCol>{{ form.controls[item.type].value }}</ion-label>
            </pap-form-recap-row>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-grid>
