<ion-searchbar
  placeholder="Ricerca"
  debounce="200"
  [(ngModel)]="searchString"
  (ionFocus)="onFocus()"
  (ionBlur)="onBlur()"
></ion-searchbar>
<ion-list
  *ngIf="(options$|async) as opts"
  [ngStyle]="{height: (isFocused$|async) ? '80px' : 'auto'}"
>
  <ion-item
    *ngFor="let opt of opts | sort | filterBy : searchString "
    (click)="writeValue(opt)"
    [class.selected]="opt.id ===select"
  >
    <ion-icon
      slot="start"
      [ngStyle]="{color:opt?.color}"
      [name]="opt.id ===select? 'checkmark-circle':opt.color
      ?'ellipse':'ellipse-outline'"
    ></ion-icon>
    <ion-label>{{opt.name}}</ion-label>
  </ion-item>
</ion-list>
