pap-home {
  .pap-home {
    --padding-top: 20px;
    --padding-end: 10px;
    --padding-start: 10px;
    .pap-home-button {
      text-align: center;
      padding-bottom: 40px;
      &-image {
        width: 74px;
        height: 74px;
        display: inline-block;
        line-height: 70px;
        border-radius: 37px;
        color: var(--ion-color-primary);

        &-icon,
        &-img {
          vertical-align: middle;
        }

        &-icon {
          width: 34px;
          height: 34px;
        }
      }
      ion-label {
        font-size: 20px;
        color: var(--ion-color-primary);
        width: 355.07px;
        margin-left: 4.93px;
        padding: 0px, 0px, 0px, 16px;
        gap: 32px;
      }
    }
    .pap-home-button-disabled {
      .pap-home-button-image {
        color: #666666;
        border: 2px solid #666666;
      }
      .pap-home-button-label {
        color: #666666;
      }
    }
    .pap-home-button {
      text-align: center;
      padding-bottom: 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: baseline;
      justify-content: flex-start;
    }
  }
  ion-grid {
    display: table;
    margin-top: 30px;
  }
  ion-item {
    --highlight-color: transparent;
    --highlight-color-focused: transparent;
    width: 100%;
    height: 48px;
    left: 4.93px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  ion-list {
    width: 100%;
    margin-left: -30px;
  }
}
