<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>The app require access to your camera to let you take pictures from the app</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need access to your device&apos;s location at all times to provide you with real-time navigation and display nearby points of interest on the map.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>For a seamless experience, we use your device&apos;s location both when the app is in use and always in the background. This allows us to show your location on the map even when the app is not actively running and deliver relevant location-based content.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To enhance your experience, we request access to your device&apos;s location while you are using the app. This enables us to display your location on the map and offer location-based features during your active sessions.</string>
	<key>LSApplicationCategoryType</key>
	<string>Privacy - Microphone Usage Description</string>
	<key>NSMotionUsageDescription</key>
	<string>The app require access to your motions sensors to show your position and orientation in the map.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>The app require the ability to add new pictures to your photo library to let you save pictures you take from the app itself</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The app require access to your photo library to let you select some pictures directly from your library to use when submitting a new picture</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PortAPPorta</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true />
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true />
</dict>
</plist>
