<ion-header>
  <pap-header [modal]="true"></pap-header>
</ion-header>

<ion-content padding class="trash-book-type">
  <ion-card
    *ngIf="trashBookType && trashBookType.name"
    class="trash-book-type pap-card pap-card-book-type-1"
  >
    <h1 class="trash-book-type-title">
      {{ trashBookType.name|papLang }}
    </h1>

    <div class="trash-book-type-content" *ngIf="trashBookType.description">
      {{trashBookType.description|papLang}}
    </div>
  </ion-card>

  <ion-card class="trash-book-type pap-card pap-card-book-type-2">
    <ng-container *ngIf="trashBookType?.howto as howto ">
      <ng-container *ngIf="howto">
        <h2 class="trash-book-type-subtitle">{{'Come'|translate}}</h2>
        <div class="trash-book-type-content">
          {{howto|papLang}}
        </div>
      </ng-container>
    </ng-container>
    <h2
      *ngIf="trashBookType?.allowed || trashBookType?.notallowed"
      class="trash-book-type-subtitle"
    >
      {{'Cosa'|translate}}
    </h2>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-list-header>
            <ion-label class="trash-book-type-icon-container">
              <ion-icon name="checkmark-circle" class="trash-book-type-icon-allowed"> </ion-icon>
            </ion-label>
          </ion-list-header>
          <ul>
            <li *ngFor="let item of trashBookType?.allowed">
              {{item}}
            </li>
          </ul>
        </ion-col>
        <ion-col size="6">
          <ion-list-header>
            <ion-label class="trash-book-type-icon-container">
              <ion-icon name="close-circle" color="danger" class="trash-book-type-icon-notallowed">
              </ion-icon>
            </ion-label>
          </ion-list-header>
          <ul>
            <li *ngFor="let item of trashBookType?.notallowed">
              {{item}}
            </li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
<ion-footer collapse="fade">
  <pap-footer></pap-footer>
</ion-footer>
