pap-trash-book-type {
  ion-content {
    .trash-book-type {
      &-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 23.44px;
        color: var(--ion-color-light-contrast);
        position: relative;
        left: 15px;
      }

      &-content {
        padding: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }

      &-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 23.44px;
        color: var(--ion-color-light-contrast);
        position: relative;
        left: 15px;
      }

      &-icon-container {
        text-align: center;
      }
      &-icon-allowed {
        font-size: 24px;
        color: var(--ion-color-success);
      }
      &-icon-notallowed {
        font-size: 24px;
        color: var(--ion-color-danger);
      }
      &-allowedornot {
        text-align: center;
      }
    }
    .pap-card-book-type-1 {
      height: auto;
      display: flex;
      flex-direction: column;
      .trash-book-type-title {
        flex: 0 1 30%;
        align-self: stretch;
        padding-right: 10px;
      }
      .trash-book-type-content {
        flex: 0 1 70%;
        align-self: stretch;
      }
    }
    .pap-card-book-type-2 {
      height: auto;
      top: 25px;
    }
    .trash-book-type-icon-allowed,
    .trash-book-type-icon-notallowed {
      font-size: 45px;
    }
    .trash-book-type-icon-allowed {
      color: var(--ion-color-primary-tint) !important;
    }
    ion-list-header {
      padding-inline-start: unset !important;
    }
  }
}
