pap-info-ticket {
    .pap-infoticket-checkbox {
        padding: 10px;
    }

    .pap-infoticket-buttons {
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }
}
