pap-form {
  width: 90%;
  margin: auto auto;
  --ion-item-background: var(--ion-color-light);
  .pap-form-first-step {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--ion-color-medium-contrast);
    margin-bottom: 15px;
  }
  .pap-form-content {
    padding: 2px 25px 0px 25px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    .pap-form-label {
      text-align: justify;
      color: var(--ion-color-secondary-contrast);
      font-weight: 500;
      font-size: 20px;
      line-height: 23.44px;
    }
  }
  .pap-form-toggle {
    width: 30px;
    margin: 50px auto;
  }
  .pap-form-input {
    font-size: 1.3em;
  }
  .pap-form-textarea {
    font-size: 1.1em;
    padding: 0px 10px 0px 10px;
  }
  .pap-form-checkbox {
    width: 90%;
    margin: 30px auto;
    ion-checkbox {
      width: auto;
      margin: 8px;
      float: left;
    }
    ion-label {
      display: inline;
      font-size: 1.2em;
    }
  }
  .pap-form-label-first-step {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--ion-color-medium-shade);
  }
  .pap-form-content .pap-form-label {
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
  }
  ion-card {
    display: flow;
    overflow: auto;
    max-height: calc(100% - 21%);
    form {
      min-height: 170x !important;

      div {
        pap-form-image-picker {
          display: flex;
          flex-direction: column;
          &::-webkit-scrollbar {
            display: none;
          }
          .pap-form-picturepicker-button {
            margin-top: 15px;
            width: 240px;
            align-self: center;
          }
          ion-icon {
            font-size: 24px;
          }
          div {
            display: flex;
            flex-direction: column;
            img {
              width: 300px;
              height: 200px;
              object-fit: contain;
              align-self: center;
              margin-top: 10px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  .pap-form-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 55px 70px 55px;
  }
  pap-map {
    padding: 15px;
  }
}
