<ion-spinner *ngIf="formLoading$|async;else ticket"></ion-spinner>
<ng-template #ticket>
  <ng-container *ngIf="ticketFormConf$|async as ticketFormConf">
    <ng-container *ngIf="ticketFormConf.step[(pos$|async)||0] as currentStep">
      <form
        [formGroup]="ticketForm"
        class="pap-form"
        *ngIf="ticketFormConf.step && ticketFormConf.step[0] &&(recap$|async) === false"
      >
        <div class="pap-form-content">
          <ion-label class="pap-form-label" *ngIf="currentStep.label != null">
            {{ currentStep.label }}
          </ion-label>
          <ion-input
            *ngIf="['text','phone'].includes(currentStep.type)"
            #focusInput
            class="pap-form-input"
            [type]="currentStep.type|inputType"
            [pattern]="currentStep.type|inputPattern"
            [formControlName]="currentStep.type"
          >
          </ion-input>
          <ion-textarea
            *ngIf="['note'].includes(currentStep.type)"
            #focusInput
            class="pap-form-textarea"
            [formControlName]="currentStep.type"
          ></ion-textarea>
          <ng-container [ngSwitch]="currentStep.type">
            <div *ngSwitchCase="'switch'" class="pap-form-toggle">
              <ion-toggle block name="toggle" [checked]="currentStep.value"> </ion-toggle>
            </div>

            <div *ngSwitchCase="'checkbox'" class="pap-form-checkbox">
              <ion-checkbox name="checkbox" [checked]="currentStep.value"> </ion-checkbox>
              <ion-label
                floating
                [innerHTML]="(currentStep.placeholder||'')| translate: currentStep.translationsObj?.placeholder"
              ></ion-label>
            </div>
            <div class="pap-form-location" *ngSwitchCase="'location'">
              <pap-form-location> </pap-form-location>
            </div>

            <pap-form-picture-picker *ngSwitchCase="'image'"> </pap-form-picture-picker>
          </ng-container>
          <ion-item *ngIf="ticketForm.controls[currentStep.type].errors as errors">
            <pap-error-form-handler [errors]="errors"></pap-error-form-handler>
          </ion-item>
        </div>
      </form>
      <ng-container *ngIf="formError$|async as error">
        <ion-label color="danger">{{error}}</ion-label>
      </ng-container>
      <div class="pap-form-footer">
        <div class="pap-form-page" *ngIf="ticketFormConf.pages">
          {{ pos$.value + 1 }}/{{ ticketFormConf.pages }}
        </div>
        <div class="pap-form-buttons">
          <div class="pap-form-buttonblock">
            <button
              class="pap-form-button"
              ion-button
              type="button"
              color="light"
              (click)="sendExit()"
            >
              {{ "cancella" | translate }}
            </button>
            <button
              class="pap-form-button"
              ion-button
              type="button"
              *ngIf="pos$.value !== 0"
              color="light"
              (click)="backStep()"
            >
              <ion-icon name="arrow-back"></ion-icon>
            </button>
          </div>
          <div class="pap-form-buttonblock">
            <button
              class="pap-form-button"
              ion-button
              type="button"
              [disabled]="!isValid(currentStep)"
              (click)="nextStep()"
              *ngIf="pos$.value +1 < ticketFormConf.step.length"
              color="secondary"
            >
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
            <ng-container *ngIf="recap$|async as recap; else recapt">
              <button
                class="pap-form-button"
                ion-button
                type="submit"
                (click)="sendData()"
                *ngIf="(recap$|async) === true"
                color="secondary"
              >
                <ion-icon name="checkmark"></ion-icon>
              </button>
            </ng-container>
            <ng-template #recapt>
              <button
                class="pap-form-button"
                ion-button
                type="submit"
                (click)="recap()"
                *ngIf="(recap$|async) === false && pos$.value + 1 === ticketFormConf.step.length"
                color="secondary"
              >
                <ion-icon name="checkmark"></ion-icon>
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-template>
<ion-modal [isOpen]="recap$|async">
  <ng-template>
    <pap-form-recap
      *ngIf="recap$|async"
      [form]="ticketForm"
      [conf]="(ticketFormConf$|async)!"
    ></pap-form-recap>
    <div class="pap-form-footer">
      <div class="pap-form-buttons">
        <div class="pap-form-buttonblock">
          <button
            class="pap-form-button"
            ion-button
            type="button"
            color="light"
            (click)="sendExit()"
          >
            {{ "cancella" | translate }}
          </button>
        </div>
        <div class="pap-form-buttonblock">
          <button
            class="pap-form-button"
            ion-button
            type="submit"
            (click)="sendData()"
            color="secondary"
          >
            <ion-icon name="checkmark"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>
<ion-modal [isOpen]="(formSuccess$|async)">
  <ng-template>
    Gentile utente la informiamo che il ticket è stato inviato correttamente. La ricontatteremo al
    piu presto
    <div class="pap-form-footer">
      <div class="pap-form-buttons">
        <div class="pap-form-buttonblock">
          <button
            class="pap-form-button"
            ion-button
            type="submit"
            (click)="close()"
            color="secondary"
          >
            <ion-icon name="checkmark"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>
