pap-footer {
  .pap-footer {
    --background: var(--ion-color-secondary);
  }
  ion-toolbar {
    ion-title {
      img {
        margin-top: 3px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 45px;
      }
    }
  }
}
