pap-header {
  ion-button,
  ion-button.modal,
  ion-menu-button {
    color: #fff;
    font-size: 1.3rem;
  }
  .pap-header {
    ion-back-button.back-button {
      color: var(--ion-color-secondary-contrast);
    }
    --background: #4B8D40;
    &-button {
      color: var(--ion-color-secondary-contrast);
    }
    &-title {
      text-align: center;
      color: var(--ion-color-secondary-contrast);
    }
    &-img {
      max-width: 60%;
    }
  }
  ion-item {
    pointer-events: auto !important;
  }
  
}
