pap-header {
  .pap-header {
    ion-back-button.back-button {
      color: var(--ion-color-secondary-contrast);
    }
    --background: var(--ion-color-primary);
    &-button {
      color: var(--ion-color-secondary-contrast);
    }
    &-title {
      text-align: center;
      color: var(--ion-color-secondary-contrast);
    }
    &-image {
    }
  }
  .pap-header-menu {
    &-header {
      --background: var(--ion-color-primary);
    }
    &-title {
      text-align: center;
      color: var(--ion-color-secondary-contrast);
    }

    .pap-header-menu-item {
    }
  }
  ion-item {
    pointer-events: auto !important;
  }
}
