<ng-container *ngIf="(headerView$|async)?.header as view">
  <ion-toolbar class="pap-header">
    <ion-buttons slot="start">
      <ion-back-button class="back-button"></ion-back-button>
      <ion-menu-button color="white" *ngIf="startButton"></ion-menu-button>
      <ion-button (click)="closeModal()" *ngIf="modal" class="modal" color="white">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="pap-header-title">
      <span *ngIf="view.label">{{view.label}}</span>
      <img *ngIf="view.img" class="pap-header-img" src="{{view.img}}" />
    </ion-title>
    <ion-buttons slot="end" *ngIf="endButton">
      <ion-button color="white" (click)="action('navigation','settings')">
        <ion-icon slot="icon-only" name="log-in-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ng-container>
