<ng-container *ngIf="(headerView$|async)?.header as view">
  <ion-toolbar class="pap-header">
    <ion-buttons slot="start">
      <ion-back-button class="back-button" size="large" color="light"></ion-back-button>
      <ion-menu-button color="white" *ngIf="startButton"></ion-menu-button>
      <ion-button (click)="closeModal()" *ngIf="modal" class="modal" color="light">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="pap-header-title">
      <span *ngIf="view.label">{{view.label}}</span>
      <img *ngIf="view.img" class="pap-header-img" src="{{view.img}}" />
    </ion-title>
    <ion-buttons class="pap-header-buttons" slot="end" *ngIf="endButton" color="light">
      <ion-button class="pap-header-button" (click)="action('navigation','settings')">
        <ng-container *ngIf="(isLogged$|async)===false">
          <ion-icon slot="icon-only" name="log-in-outline" size="large" color="light"></ion-icon>
        </ng-container>
        <ng-container *ngIf="(isLogged$|async)===true">
          <ion-icon
            slot="icon-only"
            [name]="view.buttonEnd?.icon"
            size="large"
            color="light"
          ></ion-icon>
        </ng-container>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ng-container>
