// @import "./node_modules/leaflet/dist/leaflet.css";
/* You can add global styles to this file, and also import other style files */

.ripple-parent {
    position: relative;
    overflow: hidden;
}

/************ iOS header height ***************/
.ios.platform-mobile ion-toolbar,
.ios.platform-mobile ion-toolbar,
.ios.platform-mobile ion-modal.show-page {
    padding-top: constant(safe-area-inset-top); // for ios 11.1
    padding-top: env(safe-area-inset-top); // for ios 11.2 and onwards
    padding-bottom: env(safe-area-inset-bottom);
    height: calc(100% - constant(safe-area-inset-top));
    height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}
