/* You can add global styles to this file, and also import other style files */
/************ start global style ***************/
body {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}
.ripple-parent {
  position: relative;
  overflow: hidden;
}
ion-card {
  display: flex;
  flex-direction: column;
  max-width: 98%;
  margin: auto !important;
  padding: 10px;
  top: 15px;
  box-shadow: 0px 2px 3px 0px #00000033;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
ion-button {
  height: 29px;
  font-weight: 500;
  font-size: 14px;
  width: 105px;
}
ion-list,
ion-item,
ion-card {
  --background: var(--ion-color-light);
}
.list-md {
  background-color: var(--ion-color-light);
  padding-top: 0px;
  padding-bottom: 0px;
}
ion-footer {
  height: 70px;
  position: unset;
}
.alert-wrapper {
  border-radius: 30px !important;
}
pap-abandonment-ticket,
pap-info-ticket,
pap-report-ticket,
pap-ticket-reservation {
  pap-header {
    ion-buttons {
      display: none !important;
    }
  }
}
ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;
  --color: #ddd;
  --color-checked: var(--ion-color-primary);
}
ion-modal {
  --width: 100%;
  --height: 100%;
}

.pap-alert {
  .alert-button-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    .alert-button {
      background-color: var(--ion-color-primary-contrast) !important;
      --width: 90px;
      --height: 34px;
      border: 2px solid;
      border-radius: 30px;
      line-height: 10px;
      margin: 5px;
      .alert-button-inner {
        justify-content: center;
      }
    }
    .alert-button-role-ok,
    .alert-button-role-sign-in {
      background-color: var(--ion-color-primary) !important;
      color: var(--ion-color-primary-contrast);
    }
    .alert-button-role-cancel {
      border: unset;
      position: absolute;
      top: 5px;
      left: 230px;
      font-size: 20px;
    }
  }
}
.pap-calendar-trashlist {
  display: flex !important;
  flex-direction: row !important;
  height: fit-content;
  width: 100%;
  padding: 3px;
}
.pap-trashlist-details-label {
  margin: 10px;
  flex: 1 1 80%;
}
ion-popover {
  --backdrop-opacity: 0.5;
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  --width: 80%;
}

/************ end global style ***************/

/**************** font *************/

@font-face {
  font-family: 'Neutra text';
  src: url('assets/fonts/noto-sans-regular.ttf'),
    url('assets/fonts/Neutra2Text-Bold.otf') format('opentype');
}

/************ iOS header height ***************/
.ios.platform-mobile ion-toolbar,
.ios.platform-mobile ion-toolbar,
.ios.platform-mobile ion-modal.show-page {
  padding-top: constant(safe-area-inset-top) !important; // for ios 11.1
  padding-top: env(safe-area-inset-top) !important; // for ios 11.2 and onwards
  padding-bottom: env(safe-area-inset-bottom) !important;
  height: calc(100% - constant(safe-area-inset-top)) !important;
  height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom)) !important;
}

/************ end auth guard NO_LOGGED ***************/

/************ start action sheet home Servizi ***************/
.pap-form-selector {
  .action-sheet-wrapper {
    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      div {
        div {
          // Servizi
          align-self: flex-start;
          font-weight: 500;
          font-size: 20px;
          line-height: 23.44px;
        }
      }
      .action-sheet-group {
        display: flex;
        flex-direction: column;
        button {
          span {
            ion-icon {
              color: var(--ion-color-primary);
              font-size: 37px;
            }
          }
        }
        .action-sheet-button {
          border-bottom: 1px solid;
          border-bottom-color: var(--ion-color-light);
        }
      }
    }
  }
}
/************ end action sheet home Servizi ***************/

/************ start action sheet image-picker ***************/
.pap-image-picker-action-sheet {
  .action-sheet-wrapper {
    div {
      .action-sheet-group {
        // CHIUDI
        align-self: stretch;
        position: unset;
        width: auto;
        font-weight: 500;
        font-size: 14px;
        line-height: 16.41px;
      }
    }
  }
}
/************ end action sheet image-picker ***************/

/************ start pap-status-alert ***************/
.pap-status-alert {
  .alert-wrapper {
    width: 283px;
    .alert-button-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .alert-button {
        border: 2px solid;
        border-radius: 30px;
        line-height: 10px;
        --width: 90px;
        --height: 34px;
        margin: 5px;
        background-color: var(--ion-color-primary-contrast);
      }
      .alert-button-role-cancel {
        flex: 0 1 44%;
        align-self: flex-start;
      }
      .alert-button-role-ok,
      .alert-button-role-destructive {
        flex: 0 1 33%;
        align-self: flex-start;
        background-color: var(--ion-color-primary) !important;
        color: var(--ion-color-primary-contrast);
      }
      span {
        justify-content: center;
      }
    }
  }
}
/************ end pap-status-alert ***************/
/************ start pap-status-alert-confirmation ***************/
.pap-status-alert-confirmation {
  .pap-status-alert-confirmation-close {
    position: absolute;
    top: 0px;
    margin-right: -2px;
    font-size: 20px;
  }
}
/************ end pap-status-alert-confirmation ***************/

/************ start pap-status-alert-confirmation ***************/
.pap-status-alert-error {
  .pap-status-alert-error-close {
    position: absolute;
    top: 0px;
    margin-right: -2px;
    font-size: 20px;
  }
}
/************ end pap-status-alert-confirmation ***************/

/************ start pap-location-modal ***************/
.pap-location-modal {
  --width: 100%;
  --height: 100%;
  ion-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 !important;
    max-width: 100%;
    ion-card-content {
      padding: 0;
    }
    .pap-location-modal-address-label {
      font-size: 30px;
      font-weight: 500;
      line-height: 23.44px;
    }
    .pap-location-modal-address-input {
      --padding-top: 15px;
    }
  }
  .pap-location-modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  pap-form-location {
    width: 100% !important;
  }
  pap-map {
    margin-top: 0px !important;
  }
}
/************ end pap-location-modal ***************/

/************ start pap-waste-center-alert ***************/
.pap-waste-center-alert {
  .alert-button-group {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: column;
    margin-top: -15px;
    .alert-button {
      border: 2px solid;
      border-radius: 30px;
      line-height: 10px;
      --width: 90px;
      --height: 34px;
      margin: 5px;
      background-color: var(--ion-color-primary-contrast);
    }
    .pap-waste-center-alert-btn-ok {
      background-color: var(--ion-color-primary) !important;
      color: var(--ion-color-primary-contrast);
    }
    .alert-button-inner {
      justify-content: center;
    }
  }
}
/************ end pap-waste-center-alert ***************/

/************ start pap-calendar-page-select-alert ***************/
.select-alert {
  .alert-wrapper {
    .select-interface-option {
      height: 135px;
    }
    .sc-ion-alert-md {
      white-space: normal;
      overflow-wrap: break-word;
    }
  }
}
/************ start pap-calendar-page-select-alert ***************/
