pap-reports {
  ion-card {
    height: calc(100% - 80px);
  }
  ion-card-header {
    flex: 0 1 auto;
    align-self: stretch;
  }
  ion-card-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 23.44px;
  }
  ion-card-content {
    height: 90%;
  }
  ion-list {
    overflow-y: auto;
    height: 98%;
    background-color: var(--ion-color-light) !important;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  ion-icon {
    color: var(--ion-color-primary);
    margin-top: 5px;
  }
  ion-badge {
    font-size: 15px;
  }
  .pap-reports-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    ion-spinner {
      width: 50px;
      height: 50px;
    }
  }
  .pap-reports-tiket-type {
    font-size: 20px !important;
    margin-left: -10px;
  }
}
