pap-reports {
  ion-card {
    height: calc(100% - 80px);
  }
  ion-card-header {
    flex: 0 1 auto;
    align-self: stretch;
  }
  ion-card-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 23.44px;
  }
  ion-card-content {
    height: 90%;
  }
  ion-icon {
    margin-right: 5px;
  }

  ion-list {
    overflow-y: auto;
    height: 98%;
    background-color: var(--ion-color-light) !important;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .pap-reports-item {
    margin-bottom: 4px;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .pap-user-type {
      border-radius: 25px;
      color: white;
      padding: 4px;
      margin-left: 10px;
      margin-right: 10px;
      width: min-content;
      display: block;
      right: 0;
      position: absolute;
      top: 0;
    }
    .pap-reports-date {
      flex: 1 1 auto;
      align-self: flex-start;
    }
    .pap-reports-label-info {
      order: -1;
      margin-left: 15px;
      white-space: normal;
      overflow-wrap: break-word;
      span {
        font-size: 18px;
        font-weight: 400;
        line-height: 18.75px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 16.41px;
      }
    }
    .pap-reports-date {
      max-width: 70px;
      color: var(--ion-color-primary);
      font-weight: 300;
      font-size: 50px;
      text-align: center;
      overflow: visible;
      display: flex;
      flex-direction: column;
      .pap-reports-monthday {
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        align-self: center;
        color: var(--ion-color-light-contrast);
      }

      .pap-reports-monthname {
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        text-transform: uppercase;
        align-self: flex-start;
        color: var(--ion-color-light-contrast);
      }
    }
    .input-wrapper {
      flex: 0 1 auto;
    }
    .pap-reports-weekday {
      font-size: 0.9em;
      font-weight: 600;
      font-style: italic;
    }
  }
  .pap-reports-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    ion-spinner {
      width: 50px;
      height: 50px;
    }
  }
  .input-wrapper {
    flex: 0 1 0% !important;
  }
}
