pap-calendar {
  .pap-calendar-scrollable-item {
    overflow: auto !important;
    height: 300px !important;
    &::-webkit-scrollbar {
      display: none;
    }
    ion-list {
      background-color: var(--ion-color-light) !important;
    }
  }
}
