pap-calendar {
  ion-list {
    background-color: var(--ion-color-light) !important;
  }
  ion-select {
    max-width: 100%;
  }
  ion-select,
  ion-label {
    white-space: normal !important;
    overflow-wrap: break-word !important;
  }
  .pap-calendar-scrollable-item {
    overflow: auto !important;
    height: 300px !important;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .pap-calendar-trashlist {
    color: var(--ion-color-secondary-contrast);
    text-transform: Capitalize;
  }
}
