<ion-card>
  <ion-list lines="full">
    <ion-item *ngIf="currentCalendar$|async as currentCalendar">
      <ion-select
        placeholder="Select address"
        (ionChange)="selectAddress($event)"
        [value]="currentCalendar"
      >
        <ion-select-option
          [value]="calendar"
          *ngFor="let calendar of calendars"
          >{{calendar.address.address}}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ng-container *ngIf="currentCalendar$|async as currentCalendar">
      <div class="pap-calendar-scrollable-item">
        <ion-item *ngFor="let item of currentCalendar.calendar| keyvalue" class="pap-calendar-item">
          <ion-label slot="start" class="pap-calendar-date">
            <div class="pap-calendar-monthday">{{item.key|papDate: 'd' }}</div>
            <div class="pap-calendar-monthname">{{item.key|papDate: 'MMMM' }}</div>
          </ion-label>
          <div class="pap-calendar-trash">
            <div div *ngFor="let trash of item.value" class="pap-calendar-event">
              <div>
                <div
                  *ngFor="let trashType of trash.trash_types"
                  (click)="info(item.key,trashType)"
                  class="pap-calendar-trashlist"
                >
                  <ion-icon
                    class="trash-book-details-icon"
                    slot="end"
                    [ngStyle]="{color:trashType?.color}"
                    name="ellipse"
                  ></ion-icon>
                  <ion-label class="pap-calendar-trashlist-details-label">
                    {{trashType.name['it']}}
                  </ion-label>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
      </div>
    </ng-container>
  </ion-list>
</ion-card>
