<ion-list lines="full">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col
        size="12"
        class="ion-text-center">
        <ion-button
          shape="round"
          class="ion-text-wrap pap-calendar-address-button"
          (click)="presentPopover($event)">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-label
                  *ngIf="currentCalendar$|async as addressView"
                  class="pap-calendar-current-zone-label ion-text-wrap"
                  >{{addressView.address.zone.label}}</ion-label
                >
              </ion-col>
              <ion-col size="12">
                <ion-label
                  *ngIf="currentCalendar$|async as currentCalendar"
                  class="pap-calendar-address-button-label ion-text-wrap">
                  {{ currentCalendar.address.address }}
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-popover
    #popover
    alignment="center"
    [isOpen]="isOpen"
    (didDismiss)="isOpen = false">
    <ng-template>
      <ion-list>
        <ion-item
          *ngFor="let calendar of calendars; let idx = index"
          (click)="selectPopoverAddress(idx)">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-badge
                  *ngIf="calendar.address.user_type.label.it"
                  >{{calendar.address.user_type.label.it|translate}}</ion-badge
                >
              </ion-col>
              <ion-col size="12">
                <ion-label class="ion-text-wrap">
                  {{ calendar.address.address }}
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
  <ng-container *ngIf="currentCalendar$|async as currentCalendar">
    <div class="pap-calendar-scrollable-item">
      <ion-item
        *ngFor="let item of currentCalendar.calendar| keyvalue:reverse?keyDescOrder:originalOrder; let idxRow = index"
        class="pap-calendar-item">
        <ion-grid [ngClass]="{'selected-item': (selectedidxRow$ | async) === idxRow}">
          <ion-row>
            <ion-col size="4">
              <pap-date [dateKey]="item.key"></pap-date>
            </ion-col>
            <ion-col
              size="8"
              class="pap-calendar-event ion-align-items-end ion-justify-content-end">
              <ng-container *ngFor="let trash of item.value; let idxCol = index">
                <ng-container *ngIf="trash.trash_types as trashTypes">
                  <ion-button
                    shape="round"
                    size="small"
                    *ngFor="let trashType of trashTypes; let idxBtn = index"
                    [style.--background]="trashType?.color"
                    (click)="info(item.key, trashType, idxRow, idxBtn,idxCol)"
                    class="pap-calendar-trashlist"
                    [ngClass]="{'selected-btn': (selectedidxRow$ | async) === idxRow && (selectedidxCol$ | async) === idxCol &&  (selectedidxBtn$ | async) === idxBtn}">
                    <ion-label class="pap-trashlist-details-label ion-text-wrap">
                      {{trashType.name['it']}}
                    </ion-label>
                  </ion-button>
                </ng-container>
              </ng-container>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ng-container>
</ion-list>
