name: job_test
on:
  workflow_call:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set Domain Name
        run: |
          if [ "${{ github.ref_name }}" == "develop" ]; then
            echo "DOMAIN_NAME=dev.pap.surge.sh" >> $GITHUB_ENV
          else
            BRANCH_NAME=$(echo ${{ github.ref_name }} | sed -e "s/[^a-zA-Z0-9]/-/g")
            DOMAIN_NAME="${BRANCH_NAME}.pap.surge.sh"
            echo "DOMAIN_NAME=$DOMAIN_NAME" >> $GITHUB_ENV
          fi
      - name: Extract ID from commit message or use default
        id: extract_id
        run: |
          COMMIT_MESSAGE=$(git show-branch --no-name HEAD)
          echo "Commit message: '$COMMIT_MESSAGE'"
          ID=$(echo $COMMIT_MESSAGE | grep -oP '(?<=--id )\d+') || echo "ID not found in commit message, using default."
          echo "Extracted ID: '$ID'"
          if [[ -z "$ID" ]]; then
            echo "No ID found in commit message, using default ID 4."
            ID=4
          else
            echo "Found ID in commit message: $ID"
          fi
          echo "ID to use: $ID"
          echo "DEPLOY_ID=$ID" >> $GITHUB_ENV
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install Dependencies
        run: npm install
      - name: Create .env file
        run: |
          echo EMAIL = ${{ secrets.PAP_EMAIL }} >> .env
          echo PASSWORD = ${{ secrets.PAP_PASSWORD }} >> .env
      - name: Create theme directory
        run: |
          mkdir -p projects/pap/src/theme
      - name: Install Ionic CLI
        run: npm install -g @ionic/cli
      - run: npm install
      - name: Run Gulp
        env:
          EMAIL: ${{ secrets.PAP_EMAIL }}
          PASSWORD: ${{ secrets.PAP_PASSWORD }}
        run: npx gulp surge-deploy --id  ${{ env.DEPLOY_ID }}
      - name: Deploy to ${{ env.DOMAIN_NAME }}
        uses: dswistowski/surge-sh-action@v1
        with:
          domain: ${{ env.DOMAIN_NAME }}
          project: 'dist/pap'
          login: ${{ secrets.SURGE_EMAIL }}
          token: ${{ secrets.SURGE_TOKEN }}
      - name: Add clickable domain name to summary
        run: |
          echo "[${{ env.DOMAIN_NAME }}](http://${{ env.DOMAIN_NAME }}) run with appCompanyID ${{ env.DEPLOY_ID }}">> $GITHUB_STEP_SUMMARY
      - name: Cypress run
        env:
          CYPRESS_email: ${{secrets.CYPRESS_EMAIL}}
          CYPRESS_email_no_address: no_address@webmapp.it
          CYPRESS_password: ${{secrets.CYPRESS_PASSWORD}}
          CYPRESS_baseurl: http://localhost:8100
        if: success()
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          start: ionic serve
          wait-on: http://localhost:8100
          wait-on-timeout: 280
          headed: false
          config: defaultCommandTimeout=5000,pageLoadTimeout=10000,viewportWidth=412,viewportHeight=832,testIsolation=false
      - name: Upload screenshots
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: cypress-screenshots
          path: cypress/screenshots
